body {
  font-family: "Open Sans", sans-serif;
}

.bluebtn {
  border: 1px solid #179EE0;
}

.inputstyle {
  height: 50px;
  width: 300px;
  padding: 20px 20px;
  margin: 5px 10px;
  font-size: 15px;
}

.submitbtn {
  padding: 14px 120px 14px 120px;
  border: 1px solid white;
  background-color: #179EE0;
  color: white;
  border-radius: 5px;
  font-size: 18px;
}
.submitbtn2 {
  padding: 14px 130px 14px 130px;
  border: 1px solid white;
  background-color: #179EE0;
  color: white;
  border-radius: 5px;
  font-size: 18px;
}
